:root {
  --bg-color: #F6F4EF;
  --wh: #fff;
  --black: #414141;
  --dark-gray: #818181;
  --gray: #DDDDDD;
  --light-gray: #EEEEEE;
  --brand: #99C08E;
  --red-error: #C41013;
  --red--error-bg: #FFA3A5;
  --red: #F50E0E;
  --green: #E1EDDE;
  --green-text: #578246;
  --yellow: #FFF1CC;
  --yellow-text: #C18E1B;
  --blue: #E0F1F5;
  --blue-text: #418099;
  --pink: #FDE0E9;
  --pink-text: #BC3C6A;
}

* { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Pretendard'; }
body { background-color: var(--bg-color); }

.inner { width: 1200px; margin: 0 auto; }
#header .inner { display: flex; flex-direction: row; justify-content: space-between; width: calc(100vw - 440px); height: 100px; padding: 20px 0; }
.btn { position: relative; display: flex; flex-direction: column; justify-content: center; width: 252px; height: 53px; text-align: center; margin-top: 3px; cursor: pointer; }
.btn svg { position: absolute; left: 0; top: 0; }
.btn svg.shadow { top: -3px; }
.btn span { position: absolute; display: block; left: 50%; transform: translate(-50%, -3px); width: fit-content; color: var(--wh); font-family: 'JejuStoneWall'; font-size: 18px; }
.btn span.shadow { transform: translate(-50%, -6px); color: var(--green-text); }

.card_container { width: 100%; height: fit-content; padding: 40px; border-radius: 20px; background-color: var(--wh); margin: 40px 0; }
.container_title { display: block; color: var(--black); font-family: Pretendard; font-size: 24px; font-weight: 800; margin-bottom: 30px; }

.card_wrap { display: flex; flex-direction: row; justify-content: space-between; gap: 24px; }
.card { width: 100%; padding: 30px; background-color: var(--dark-gray); border-radius: 20px; }
.card_title_wrap { display: flex; flex-direction: row; justify-content: space-between; margin-bottom: 10px; }
.card_title { color: var(--wh); font-size: 18px; font-weight: 700; }
.tag_wrap { display: flex; flex-direction: row; justify-content: left; gap: 5px; }
.tag { display: flex; flex-direction: row; justify-content: space-between; gap: 4px; align-items: center; width: fit-content; height: 22px; padding: 4px 10px; border-radius: 50px; color: #FFF; font-size: 12px; font-weight: 500; border: 1px solid rgba(0, 0, 0, 0.10); background: rgba(0, 0, 0, 0.50); }
.tag img { display: inline-block; height: 14px; }
.card_status { display: block; color: var(--light-gray); font-size: 14px; font-weight: 400; margin-bottom: 30px; }
.card_text { height: 48px; color: var(--wh); font-size: 16px; font-weight: 400; line-height: 24px; margin-bottom: 30px; }